.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.visible {
  display: block;
}

.hidden {
  display: none;
}
.animate-moveRight {
  animation: moveRight 0.5s ease-in-out forwards;
}

.animate-moveLeft {
  animation: moveLeft 0.5s ease-in-out forwards;
}

@keyframes moveRight {
  from {
    left: 0;
  }
  to {
    left: -80px;
  }
}

@keyframes moveLeft {
  from {
    left: -80px;
  }
  to {
    left: 0;
  }
}

.my_btn:hover{
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out;
}
